{% autoescape off %}Bonjour {{ user.get_full_name|default:user.email }},

Vous avez demandé la réinitialisation de votre mot de passe sur {{ site_name }}.

Pour définir un nouveau mot de passe, utilisez le lien ci-dessous :

{{ protocol }}://{{ domain }}/reset-password/confirm?uid={{ uid }}&token={{ token }}

Si le lien ne fonctionne pas, transmettez ces informations à l'application :

  uid   : {{ uid }}
  token : {{ token }}

Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cet e-mail.

L'équipe {{ site_name }}
{% endautoescape %}
